.slider {
    max-width: 500px;
    position: relative;
    padding: 0.9rem calc((50vw - 1200px)/2);
    margin: auto 5px auto auto;
    text-align: left;
    &__item {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
    }
    &__border {
        margin-top: 20px;
        width: 100px;
        border: none;
        height: 6px;
        border-radius: 5px;
        background: #fff;
        @include tablet {
            width: 95%;
            margin: 20px auto auto auto;
        }
    }
    &__title {
        color: #fff;
        font-size: 3.5rem;
        margin: auto auto 10px auto;
        text-transform: uppercase;
        @include tablet {
            font-size: 2.5rem;
            margin: 60px 5px auto 5px;
            text-align: center;
        }
        &--sub {
            color: #fff;
            font-size: 2rem;
            text-transform: uppercase;
            @include tablet {
                font-size: 1.5rem;
                margin: 20px 5px auto 5px;
                text-align: center;
            }
        }
    }
    &__text {
        display: flex;
        margin: 20px auto auto auto;
        color: #fff;
        line-height: 1.5rem;
        @include tablet {
            margin: 30px 5px auto 5px;
            text-align: justify;
        }
    }
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    margin: 10px;
    transition: background-color 0.6s ease;
    @include tablet {
        display: inline-block;
        margin-bottom: 60px;
    }
}

.slider__dot {
    align-self: center;
    @include tablet {
        text-align: center;
    }
}

.active,
.dot:hover {
    background-color: #ff0000;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}