@import "conteiner";
@import "media-queries";
@import "navbar";
@import "slider";
@import "client";
@import "industries";
@import "experience";
@import "news";
@import "cards";
@import "focus";
@import "guide";
@import "blog";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}